<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    section {
      display: flex;
      justify-content: space-between;
    }

    main {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100vh;
      width: 85.5%;
    }
  </style>
</head>

<body>
  <section>
    <!-- Sidebar component -->
    <app-sidebar></app-sidebar>
    <main>
      <article>
        <app-header></app-header>
        <router-outlet></router-outlet>
      </article>
      <app-footer></app-footer>
    </main>
  </section>

</body>

</html>